<ul class="nav nav-tabs">
    <li :class="{active: $router.currentRoute.name == 'places.edit'}">
        <router-link :to="{ name: 'places.edit', params: {id: $route.params.id}}"><span class="hidden-sm">Main</span> <i class="fa fa-home visible-sm"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'places.sections'}">
        <router-link :to="{ name: 'places.sections', params: {id: $route.params.id}}"><span class="hidden-sm">Sections</span> <i class="fa fa-table visible-sm"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'places.addresses'}">
        <router-link :to="{ name: 'places.addresses', params: {id: $route.params.id}}"><span class="hidden-sm">Addresses</span> <i class="fa fa-map-o visible-sm"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'places.amenities'}">
        <router-link :to="{ name: 'places.amenities', params: {id: $route.params.id}}"><span class="hidden-sm">Amenities</span> <i class="fa fa-plug visible-sm"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'places.attachments'}">
        <router-link :to="{ name: 'places.attachments', params: {id: $route.params.id}}"><span class="hidden-sm">Attachments</span> <i class="fa fa-file-o visible-sm"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'places.params'}">
        <router-link :to="{ name: 'places.params', params: {id: $route.params.id}}"><span class="hidden-sm">Params</span> <i class="fa fa-info-circle visible-sm"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'places.terms'}">
        <router-link :to="{ name: 'places.terms', params: {id: $route.params.id}}"><span class="hidden-sm">Terms</span> <i class="fa fa-sitemap visible-sm"></i></router-link>
    </li>
</ul>