<div>
    <form @submit.prevent="active.submit()" @keydown="active.errors.clear($event.target.name)">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" :class="{ 'has-error': active.error('sectionable_id') }">
                    <div class="input-group">
                        <input
                                type="text"
                                class="form-control"
                                v-model="table.query.q"
                                placeholder="Search"
                                @keydown="table.index()"
                        >
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                    <span v-for="error in active.error('sectionable_id')" class="contents-danger">{{ error }}</span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="clearfix">
                    <div class="btn-group pull-right">
                        <a class="btn btn-sm btn-default" href="/admin/belt/spot/itineraries/create" target="_blank"><i class="fa fa-plus"></i></a>
                        <a v-if="itinerary.id" class="btn btn-sm btn-default" :href="'/admin/belt/spot/itineraries/edit/' + itinerary.id"
                           target="_blank">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </div>
                <template v-if="itinerary.id">
                    <p>{{ itinerary.id }}. {{ itinerary.name }}</p>
                </template>
            </div>
        </div>
    </form>

    <div v-if="table.items.length">
        <table class="table">
            <tr v-for="itinerary in table.items">
                <td>{{ itinerary.id }}. <strong>{{ itinerary.name }}:</strong> {{ itinerary.slug }}</td>
                <td class="text-right">
                    <button class="btn btn-default" @click="update(itinerary.id)"><i class="fa fa-link"></i></button>
                </td>
            </tr>
        </table>
    </div>
</div>