<div>
    <h4>Amenity List</h4>
    <div v-if="chunks.length">
        <p class="help-block">Checked and non-empty amenities are linked to this item.</p>
        <div class="amenities-index">
            <div class="row">
                <div v-for="chunk in chunks">
                    <div class="col-md-4">
                        <div v-for="parent in chunk" :key="parent.id">
                            <div class="box box-primary">
                                <edit :amenity="parent" :collapsable="true"></edit>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <p style="font-style: italic;">No amenities are available to link to this item.</p>
    </div>
</div>