<tr>
    <td>{{ item.id }}</td>
    <td>{{ item.template }}</td>
    <td v-html="parentCheck(item)"></td>
    <td class="text-right">

        <template v-if="mode == 'admin'">

            <template v-if="isMoving">
                <template v-if="isMoving != item.id">
                    <div class="btn-group">
<!--                        <button class="btn btn-default btn-xs" @click.prevent="move(item.id, 'before')"-->
<!--                                title="move before this item">-->
<!--                            <i class="fa fa-caret-up"></i>-->
<!--                        </button>-->
<!--                        <button class="btn btn-default btn-xs" @click.prevent="move(item.id, 'after')"-->
<!--                                title="move after this item">-->
<!--                            <i class="fa fa-caret-down"></i>-->
<!--                        </button>-->
                        <button v-if="item.template == 'group'" class="btn btn-default btn-xs" @click.prevent="move(item.id, 'in')"
                                title="add as child to this item">
                            <i class="fa fa-caret-right"></i>
                        </button>
                    </div>
                </template>
                <template v-else>
                    <div class="btn-group">
                        <button class="btn btn-info btn-xs" @click.prevent="cancelMove()">cancel</button>
                    </div>
                </template>
            </template>

            <div v-if="!isMoving" class="btn-group">
                <button
                        title="move amenity"
                        class="btn btn-default btn-xs"
                        @click.prevent="setMoving(item)"
                >
                    <i class="fa fa-arrows-alt"></i>
                </button>
                <button
                        type="button"
                        class="btn btn-xs btn-default dropdown-toggle text-muted"
                        data-toggle="dropdown"
                        aria-expanded="false"
                        title="options"
                >
                    <i class="fa fa-gear"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><modal-delete :item-id="item.id" _class="''" :callingObject="table"><i
                                    class="fa fa-trash"></i> Remove</modal-delete></li>
                </ul>
                <router-link :to="{ name: 'amenities.edit', params: { id: item.id } }" :class="'btn btn-xs btn-default'"
                             title="edit amenity">
                    <i class="fa fa-edit"></i>
                </router-link>
            </div>

        </template>

        <template v-if="mode == 'select'">
            <button class="btn btn-default btn-xs" @click.prevent="confirm(item)"><i class="fa fa-chevron-right"></i></button>
        </template>
    </td>
</tr>