<form @submit.prevent="submit()" @keydown="form.errors.clear($event.target.name)">

    <base-button-group>
        <template slot="left">
            <button-translate v-if="form.id"></button-translate>
        </template>
        <button-save></button-save>
    </base-button-group>

    <input-subtype entity_type="amenities" formKey="form" autoset="true"></input-subtype>

    <div class="form-group" :class="{ 'has-error': form.error('parent_id') }">
        <label for="name">Parent Amenity</label>
        <input type="hidden" v-model="form.parent_id">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search" @click="toggle()"></i></div>
            <input class="form-control" :value="parentAmenity.nested_name" readonly>
            <div v-if="form.parent_id" class="input-group-addon"><i class="fa fa-times-circle" @click="clearParentAmenity()"></i></div>
        </div>
        <span v-for="error in form.error('parent_id')" class="text-danger">{{ error }}</span>
    </div>
    <div v-if="search">
        <amenities-table
                :name="'admin.amenities.select'"
                :mode="'select'"
                :query="{perPage: 10, template:'group', not_in: form.id}"
                @select-amenity="updateParent"
        ></amenities-table>
    </div>

    <input-text v-if="form.id || mode == 'creator'" column="name" required="true">Name</input-text>
    <input-text v-if="form.id" column="slug">Slug</input-text>

    <!--    <div class="form-group" :class="{ 'has-error': form.error('template') }">-->
    <!--        <label for="template">Template</label>-->
    <!--        <select v-model="form.subtype" name="template" class="form-control">-->
    <!--            <template v-for="label, value in form.dropdown()">-->
    <!--                <option :value="value">{{ label }}</option>-->
    <!--            </template>-->
    <!--        </select>-->
    <!--        <span v-for="error in form.error('template')" class="contents-danger">{{ error }}</span>-->
    <!--    </div>-->

    <!--    <div class="form-group" :class="{ 'has-error': form.error('body') }">-->
    <!--        <label for="body">Body</label>-->
    <!--        <belt-editor v-model="form.body"></belt-editor>-->
    <!--        <span v-for="error in form.error('body')" class="text-danger">{{ error }}</span>-->
    <!--    </div>-->

    <input-editor column="body">Body</input-editor>

    <base-button-group>
        <template slot="left">
            <button-translate v-if="form.id"></button-translate>
        </template>
        <button-save></button-save>
    </base-button-group>

</form>