<div>
    <heading>
        <span slot="title">Event Editor</span>
        <span slot="subtitle">{{ event.name }}</span>
        <li><router-link :to="{ name: 'events' }">Events</router-link></li>
    </heading>
    <section class="content">
        <div class="nav-tabs-custom">
            <tabs></tabs>
            <div class="tab-content">
                <div class="clearfix">
                    <div class="pull-right">
                        <div class="btn-group sub-tab-btn-group">
                            <a class="btn btn-xs btn-default" target="_blank" :href="'/events/' + event.id">Preview</a>
                        </div>
                    </div>
                </div>
                <tab v-if="event.id" :morphable="event" :_config="config"></tab>
            </div>
        </div>
    </section>
</div>