<div>

    <template v-if="hasChildren">

        <template v-if="depth == 1">
            <div class="box-header with-border box-header-children" @click.prevent="toggleExpand()">
                <span v-if="collapsable" class="pull-right">
                   <a class="btn btn-xs btn-default" href="#" title="toggle amenity group"><i class="fa fa-plus"></i></a>
                </span>
                <h6 class="box-title">{{ amenity.name }}</h6>
            </div>
            <template v-if="expanded">
                <div class="box-body">
                    <edit v-for="child in childAmenities" :key="child.id" :amenity="child" :depth="depth + 1"></edit>
                </div>
            </template>
        </template>

        <template v-else>
            <div class="box">
                <div class="box-header with-border box-header-children" @click.prevent="toggleExpand()">
                    <span v-if="collapsable" class="pull-right">
                       <a class="btn btn-xs btn-default" href="#" title="toggle amenity group"><i class="fa fa-plus"></i></a>
                    </span>
                    <h6 class="box-title">{{ amenity.name }}</h6>
                </div>
                <template v-if="expanded">
                    <div class="box-body">
                        <edit v-for="child in childAmenities" :key="child.id" :amenity="child" :depth="depth + 1"></edit>
                    </div>
                </template>
            </div>
        </template>

    </template>

    <template v-else>

        <div v-if="amenity.template == 'boolean'">
            <div class="box-header box-header-checkbox" @click.prevent="toggleCheckbox()">
                <span class="pull-right">
                    <a
                            href="#"
                            class="btn btn-xs"
                            :class="active ? 'btn-primary' : 'btn-default'"
                            :title="active ? 'click to unlink this amenity' : 'click to link this amenity'"
                    ><i class="fa" :class="active ? 'fa-check-square-o' : 'fa-square-o'"></i></a>
                </span>
                <h6 class="box-title">{{ amenity.name }}</h6>
            </div>
        </div>

        <div v-if="amenity.template == 'text'" class="form-group">
            <div class="box-header box-header-text">
                <span class="pull-right">
                    <input class="form-control" :id="'amenity-value-' + amenity.id" v-model="value" placeholder="value" @keyup="update">
                </span>
                <h6 class="box-title">{{ amenity.name }}</h6>
            </div>
        </div>
        <div v-if="amenity.template == 'textarea'" class="form-group">
            <div class="box-header box-header-textarea">
                <span class="pull-right">
                    <textarea class="form-control" :id="'amenity-value-' + amenity.id" rows="3" v-model="value" @keyup="update"></textarea>
                </span>
                <h6 class="box-title">{{ amenity.name }}</h6>
            </div>
        </div>

    </template>

</div>