.amenities-index {
    .form-group {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    label {
        font-weight: 500;
        font-size: 15px;
        text-align: left;
    }
    .box {
        border: 2px solid #357ca5;
        margin-bottom: 2px;
        .box {
            border: 2px solid #b5bbc8;
            border-left-width: 8px !important;
            border-right-width: 1px !important;
            margin-bottom: 2px !important;
            .box {
                border-color: #357ca5;
                .box {
                    border-color: #b5bbc8;
                    .box {
                        border-color: #357ca5;
                    }
                }
            }
        }
        .box-header {
            padding: 5px;
            .box-title {
                font-size: 15px;
                width: 50%;
            }
            .pull-right {
                width:50%;
                text-align: right;
            }
            .btn-group {
                margin: 0;
            }
            &.box-header-checkbox {
                cursor: pointer;
            }
            &.box-header-children {
                cursor: pointer;
            }
        }
        .box-body {
            padding: 0;
        }
    }
}