<form role="form" @submit.prevent="event.submit()" @keydown="event.errors.clear($event.target.name)">
    <div class="checkbox">
        <label>
            <input type="checkbox"
                   v-model="event.is_active"
            > Is Active
        </label>
    </div>
    <div class="form-group" :class="{ 'has-error': event.error('name') }">
        <label for="name">Name</label>
        <input type="name" class="form-control" v-model="event.name" eventholder="name">
        <span v-for="error in event.error('name')" class="text-danger">{{ error }}</span>
    </div>
    <div v-if="event.id" class="form-group" :class="{ 'has-error': event.error('slug') }">
        <label for="slug">Slug</label>
        <input type="slug" class="form-control" v-model="event.slug" eventholder="slug">
        <span v-for="error in event.error('slug')" class="text-danger">{{ error }}</span>
    </div>
    <attachment v-if="event.id" :owner="event" :path="'events'"></attachment>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': event.error('starts_at') }">
                <label>Starts At</label>
                <div class="form-inline">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" name="starts_at_date" class="form-control" v-model="event.starts_at_date">
                    </div>
                    <div class="input-group date">
                        <input type="time" name="starts_at_time" class="form-control" v-model="event.starts_at_time">
                    </div>
                </div>
                <span v-for="error in event.error('starts_at')" class="text-danger">{{ error }}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': event.error('ends_at') }">
                <label>Ends At</label>
                <div class="form-inline">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" name="ends_at_date" class="form-control" v-model="event.ends_at_date">
                    </div>
                    <div class="input-group date">
                        <input type="time" name="ends_at_time" class="form-control" v-model="event.ends_at_time">
                    </div>
                </div>
                <span v-for="error in event.error('ends_at')" class="text-danger">{{ error }}</span>
            </div>
        </div>
    </div>

    <div class="form-group" :class="{ 'has-error': event.error('phone') }">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" v-model="event.phone" placeholder="phone number">
        <span v-for="error in event.error('phone')" class="text-danger">{{ error }}</span>
    </div>
    <div class="form-group" :class="{ 'has-error': event.error('phone_tollfree') }">
        <label for="phone_tollfree">Toll Free Phone Number</label>
        <input type="text" class="form-control" v-model="event.phone_tollfree" placeholder="phone number">
        <span v-for="error in event.error('phone_tollfree')" class="text-danger">{{ error }}</span>
    </div>

    <div class="form-group" :class="{ 'has-error': event.error('url') }">
        <label for="url">Toll Free Phone Number</label>
        <input type="text" class="form-control" v-model="event.url" placeholder="website">
        <span v-for="error in event.error('url')" class="text-danger">{{ error }}</span>
    </div>

    <!--<div class="form-group" :class="{ 'has-error': event.error('intro') }">-->
        <!--<label for="intro">Intro</label>-->
        <!--<textarea class="form-control" rows="10" v-model="event.intro"></textarea>-->
        <!--<span v-for="error in event.error('intro')" class="text-danger">{{ error }}</span>-->
    <!--</div>-->
    <div class="form-group" :class="{ 'has-error': event.error('body') }">
        <label for="body">Body</label>
        <textarea class="form-control" rows="10" v-model="event.body" v-tinymce></textarea>
        <span v-for="error in event.error('body')" class="text-danger">{{ error }}</span>
    </div>

    <div class="form-group" :class="{ 'has-error': event.error('meta_title') }">
        <label for="meta_title">Meta Title</label>
        <input type="text" class="form-control" v-model="event.meta_title" placeholder="meta title">
        <span v-for="error in event.error('meta_title')" class="text-danger">{{ error }}</span>
    </div>
    <div class="form-group" :class="{ 'has-error': event.error('meta_description') }">
        <label for="meta_description">Meta Description</label>
        <textarea class="form-control" rows="10" v-model="event.meta_description"></textarea>
        <span v-for="error in event.error('meta_description')" class="text-danger">{{ error }}</span>
    </div>
    <div class="form-group" :class="{ 'has-error': event.error('meta_keywords') }">
        <label for="meta_keywords">Meta Keywords</label>
        <textarea class="form-control" rows="10" v-model="event.meta_keywords"></textarea>
        <span v-for="error in event.error('meta_keywords')" class="text-danger">{{ error }}</span>
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-primary" :disabled="event.errors.any()">
            <span v-if="event.saving"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
            <span v-else>Save</span>
        </button>
    </div>
</form>