<ul class="nav nav-tabs">
    <li :class="{active: $router.currentRoute.name == 'itineraries.edit'}">
        <router-link :to="{ name: 'itineraries.edit', params: {id: $route.params.id}}"><span class="hidden-sm">Main</span> <i class="fa fa-home visible-sm"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'itineraries.sections'}">
        <router-link :to="{ name: 'itineraries.sections', params: {id: $route.params.id}}"><span class="hidden-sm">Sections</span> <i class="fa fa-table visible-sm"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'itineraries.attachments'}">
        <router-link :to="{ name: 'itineraries.attachments', params: {id: $route.params.id}}"><span class="hidden-sm">Attachments</span> <i class="fa fa-file-o visible-sm"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'itineraries.places'}">
        <router-link :to="{ name: 'itineraries.places', params: {id: $route.params.id}}">Places</router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'itineraries.terms'}">
        <router-link :to="{ name: 'itineraries.terms', params: {id: $route.params.id}}"><span class="hidden-sm">Terms</span> <i class="fa fa-sitemap visible-sm"></i></router-link>
    </li>
</ul>