<div>
    <heading>
        <span slot="title">Place Editor</span>
        <span slot="subtitle">{{ place.name }}</span>
        <li><router-link :to="{ name: 'places' }">Places</router-link></li>
    </heading>
    <section class="content">
        <div class="nav-tabs-custom">
            <tabs></tabs>
            <div class="tab-content">
                <div class="clearfix">
                    <div class="pull-right">
                        <div class="btn-group sub-tab-btn-group">
                            <a class="btn btn-xs btn-default" target="_blank" :href="'/places/' + place.id">Preview</a>
                        </div>
                    </div>
                </div>
                <tab :morphable="place"></tab>
            </div>
        </div>
    </section>
</div>