<div>
    <create v-if="mode == 'create'"></create>
    <edit v-if="mode == 'edit'" :address="form"></edit>
    <div v-if="mode == 'index'" class="row">
        <div class="col-md-12">
            <div class="form">
                <div class="input-group">
                    <span class="input-group-btn" @click.prevent="toggleHelp()">
                        <button class="btn btn-default"><i class="fa fa-question-circle"></i></button>
                    </span>
                    <div class="form-group" :class="{ 'has-error': form.error('_address') }">
                        <input class="form-control" v-model="form._address" placeholder="enter address">
                        <span v-for="error in form.error('_address')" class="text-danger">{{ error }}</span>
                    </div>
                    <span class="input-group-btn" @click.prevent="setCreating()">
                        <button class="btn btn-primary" :disabled="form.errors.any()">
                            <span v-if="form.saving"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
                            <span v-else>add</span>
                        </button>
                    </span>
                </div>
            </div>
            <template v-if="showHelp">
                <p class="help-block">For example:</p>
                <ul>
                    <li>59 Spruce St., Columbus, OH 43215</li>
                    <li>59 spruce st, columbus, oh</li>
                    <li>59 spruce st, 43215</li>
                </ul>
            </template>
        </div>

        <div class="col-md-12">
            <hr/>
            <h4>Address List</h4>
            <div v-if="addresses.items.length">
                <p class="help-block">The following addresses are linked to this item.</p>
                <div v-for="address in addresses.items">
                    <panel :address="address"></panel>
                </div>
                <pagination :route="'addressIndex'"></pagination>
            </div>
            <div v-else>
                <p style="font-style: italic;">No addresses currently belong to this item.</p>
            </div>
        </div>
    </div>
</div>