<div>
    <heading>
        <span slot="title">Deal Creator</span>
        <li><router-link :to="{ name: 'deals' }">Deal Manager</router-link></li>
        <li>Deal Creator</li>
    </heading>
    <section class="content-subheader">
        <p class="text-muted">{{ trans('belt-spot::deals.creator.overall') }}</p>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-body">
                <create></create>
            </div>
        </div>
    </section>
</div>