<div>
    <heading>
        <span slot="title">Deal Editor</span>
        <li><router-link :to="{ name: 'deals' }">Deal Manager</router-link></li>
        <li>{{ deal.name }}</li>
    </heading>
    <section class="content-subheader">
        <p class="text-muted">{{ trans('belt-spot::deals.editor.overall') }}</p>
    </section>
    <section class="content">
        <div class="nav-tabs-custom">
            <tabs></tabs>
            <div class="tab-content">
                <tab></tab>
            </div>
        </div>
    </section>
</div>