<ul class="nav nav-tabs">
    <li :class="{active: $router.currentRoute.name == 'deals.edit'}">
        <router-link :to="{ name: 'deals.edit', params: {id: $route.params.id}}">Main</router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'deals.attachments'}">
        <router-link :to="{ name: 'deals.attachments', params: {id: $route.params.id}}">Attachments</router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'deals.terms'}">
        <router-link :to="{ name: 'deals.terms', params: {id: $route.params.id}}">Terms</router-link>
    </li>
</ul>