<ul class="nav nav-tabs">
    <li :class="{active: $router.currentRoute.name == 'deals.edit'}">
        <router-link :to="{ name: 'deals.edit', params: {id: $route.params.id}}"><span class="hidden-sm hidden-xs">Main</span> <i class="fa fa-home visible-sm visible-xs"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'deals.attachments'}">
        <router-link :to="{ name: 'deals.attachments', params: {id: $route.params.id}}"><span class="hidden-sm hidden-xs">Attachments</span> <i class="fa fa-file-o visible-sm visible-xs"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'deals.terms'}">
        <router-link :to="{ name: 'deals.terms', params: {id: $route.params.id}}"><span class="hidden-sm hidden-xs">Terms</span> <i class="fa fa-sitemap visible-sm visible-xs"></i></router-link>
    </li>
</ul>