<div class="box" :class="{'box-primary': mode == 'admin'}">
    <div class="box-body">
        <div class="filter-set clearfix">
            <div class="pull-left">
                <filter-search @filter-search-update="filter"></filter-search>
            </div>
            <div class="pull-left">
                <div class="form-inline filter">
                    <div class="form-group">
                        <select
                                v-model="table.query.template"
                                name="template"
                                class="form-control"
                                @change="table.index()"
                        >
                            <option :value="false">template?</option>
                            <template v-for="label, value in moving.dropdown()">
                                <option :value="value">{{ value }}</option>
                            </template>
                        </select>
                    </div>
                </div>
            </div>
            <div v-if="mode == 'admin'" class="pull-right">
                <router-link :to="{ name: 'amenities.create' }" :class="'btn btn-primary'">add amenity</router-link>
            </div>
        </div>
        <div class="table-responsive">
            <div v-if="loading">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <table v-if="table.items.length" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID
                        <column-sorter :column="'amenities.id'"></column-sorter>
                    </th>
                    <th>Template</th>
                    </th>
                    <th>Name
                        <column-sorter :column="'amenities.name'"></column-sorter>
                    </th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                <row v-for="item in table.items"
                     :item="item"
                     :key="item.id"
                     :mode="mode"
                ></row>
                </tbody>
                <tfoot v-if="mode == 'admin'">
                <tr>
                    <th>ID</th>
                    <th>Template</th>
                    <th>Name</th>
                    <th class="text-right">Actions</th>
                </tr>
                </tfoot>
            </table>
        </div>
        <pagination></pagination>
    </div>
</div>